{$CL_SETTINGS_HOST}

handle /uploads/* {
	root /uploads/* /uploads/
	uri strip_prefix /uploads
	file_server
}

@back_requests {
	path_regexp ^/(api|auth|web_api|admin_api|hooks)/(.*)$
}

reverse_proxy @back_requests web:4000 {
	header_up Host {http.reverse_proxy.upstream.hostport}
}

reverse_proxy front:3000
