{$SITE_ADDRESS}

#reverse_proxy ^/(api|auth|web_api|admin_api|hooks)/(.*)$ cl-back-web:4000 {
	#header_up Host {http.reverse_proxy.upstream.hostport}
#}

handle /uploads/* {
	root /uploads/* /uploads/
	uri strip_prefix /uploads
	file_server
}

reverse_proxy cl-front:3000
